@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
}

html, body {
  min-width: 310px;
  background-color: #f5f5f5;
  color: #333333;
}

a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* Helper classes */
.hover-underline:hover {
  text-decoration: underline;
}

/* Container styles */
.container {
  width: 100%;
  padding: 20px 5%;
}

/* Navbar styles */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

#navbar ul {
  list-style: none;
  height: 100%;
  display: flex;
}

#navbar ul li {
  height: 100%;
}

#navbar ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  color: #212121;
}

#navbar ul li a:hover {
  color: #558B2F;
}

/* Color text green */
.green {
  color: #558B2F;
}

/* Login modal styles */
.auth-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  width: 300px;
  padding: 20px 0;
}

.auth-tab {
  width: 100%;
  padding: 0 10%;
  margin: 10px 0 0;
}

.auth-container .auth-tab form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-container .auth-tab form input {
  width: 100%;
  height: 32px;
  margin: 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 2px;
}

.auth-container .auth-tab form input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.submit-btn {
  margin-top: 10px !important;
  background-color: #33691E;
  color: #ffffff;
  cursor: pointer;
}

.auth-tab span, .auth-tab a {
  font-size: 0.8rem;
}

.auth-tab .link {
  color: #1976D2;
}

.auth-tab .link:hover {
  color: #0D47A1;
}

.form-flash {
  color: #333333;
  font-size: 0.8rem;
  margin: 10px 0 10px;
}

.form-flash ul li {
  font-size: 0.8rem;
  margin: 5px 0;
}

/* Tests list styles */
.tests-list {
  margin-top: 10px;
}

.tests-list li {
  padding-left: 30px;
  font-size: 1.1rem;
  line-height: 2.5;
}

/* Button styles */
.btn {
  border: none;
  padding: 5px 15px;
  font-size: 0.9rem;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
}

/* 'Add test' buttons styles */
.add-btn {
  background-color: #2E7D32;
  margin-top: 20px;
}

.add-btn:hover {
  background-color: #388E3C;
}

.edit-btn {
  color: #1565C0;
}

.edit-btn:hover {
  color: #1976D2;
}

.delete-btn {
  color: #c62828;
}

.delete-btn:hover {
  color: #d32f2f;
}

.btn:focus {
  outline: none;
}

/* Media queries */
@media screen and (min-width: 800px) {
  .container {
    padding: 20px 20%;
  }
}
