@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
}

html, body {
  min-width: 310px;
  background-color: #f5f5f5;
  color: #333333;
  height: 100%;
}

a {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}

ul {
  list-style: none;
}

input[type="submit"] {
  cursor: pointer;
}

/* Helper classes */
.hover-underline:hover {
  text-decoration: underline;
}

.section-container {
  margin-bottom: 20px;
}

.green {
  color: #558B2F;
  margin-bottom: 10px;
}

.inline-form {
  display: inline;
}

.inline-form-button {
  border: none;
  background-color: transparent;
}

.hide {
  transform: scale(0);
  opacity: 0;
}

/* Container styles */
.container {
  min-width: 310px;
  max-width: 100vw;
  padding: 20px 5%;
}

/* Navbar styles */
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

#navbar ul {
  list-style: none;
  height: 100%;
  display: flex;
}

#navbar ul li * {
  line-height: 3;
}

.left li {
  padding-right: 20px;
}

.right li {
  padding-left: 20px;
}

#navbar ul li {
  height: 100%;
  display: flex;
  align-items: center;
  color: #212121;
  cursor: pointer;
}

#navbar ul *:hover {
  color: #558B2F;
}



/* Flash message styles */
.flash {
  position: relative;
  width: 100%;
  min-height: 80px;
  border-radius: 3px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #333333;
}

.close-section-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close-section-btn:active {
  outline: none;
}

.flash-red {
  background-color: #FFCCCC;
}

.flash-green {
  background-color: #CCFFCC;
}

.flash-blue {
  background-color: #CCCCFF;
}

/* Login modal styles */
.auth-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  width: 300px;
  padding: 20px 0;
}

.auth-tab {
  width: 100%;
  padding: 0 10%;
  margin: 10px 0 0;
}

.auth-container .auth-tab form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-container .auth-tab form input {
  width: 100%;
  height: 32px;
  margin: 5px 0 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
  border-radius: 2px;
}

.auth-container .auth-tab form input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

.submit-btn {
  margin-top: 10px !important;
  background-color: #33691E;
  color: #ffffff;
}

.auth-tab span, .auth-tab a {
  font-size: 0.8rem;
}

.auth-tab .link {
  color: #1976D2;
}

.auth-tab .link:hover {
  color: #0D47A1;
}

.form-flash {
  color: #333333;
  font-size: 0.8rem;
  margin: 10px 0 10px;
}

.form-flash ul li {
  font-size: 0.8rem;
  margin: 5px 0;
}

/* Exams list styles */
.exam-management {
  padding: 5px 0 0 20px;
}

.exams-list li {
  padding: 0 0 20px 30px;
  font-size: 1.2rem;
}

.exams-list li:last-child {
  padding-bottom: 0;
}

.subject-name {
  font-weight: bold;
  font-size: 1.2rem;
}

/* 'Add exam' form styles */
.add-exam-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-exam-form * {
  height: 30px;
  width: 180px;
  margin: 0 0 5px;
  border-radius: 2px;
  background-color: #ffffff;
  color: #333333;
  padding: 5px;
}

#exam-date {
  border: 1px solid rgb(169, 169, 169);;
}

/* Button styles */
.btn {
  border: none;
  padding: 5px 15px;
  font-size: 0.9rem;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
}

/* 'Study' button styles */
#study-btn {
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
  padding: 0;
}

/* 'Add exam' button styles */
.add-btn {
  background-color: #2E7D32;
}

.add-btn:hover {
  background-color: #388E3C;
}

.save-btn {
  background-color: #1565C0;
}

.edit-btn {
  color: #1565C0;
  transition: 0.2s;
  font-size: 1.1rem;
}

.edit-btn:hover {
  color: #1E88E5;
}

.delete-btn {
  color: #c62828;
  transition: 0.2s;
  font-size: 1.1rem;
}

.delete-btn:hover {
  color: #e53935;
}

.btn:focus {
  outline: none;
}

/* Timer-container styles */
#timer-container {
  display: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100%;
  background-color: #ffffff;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

#timer-container main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#timer-container header {
  height: 48px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#timer-container header .close-section-btn {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
  width: auto;
  height: auto;
  padding: 10px;
  margin-right: -10px;
}

#timer {
  font-size: 3.5rem;
  padding-bottom: 20px;
}

#study-subject {
  margin: 0 0 5px;
  border-radius: 2px;
  background-color: #ffffff;
  color: #333333;
  padding: 5px;
}

.timer-buttons-section {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.timer-buttons-section button {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 5px;
  width: 60px;
  color: #333;
  height: 30px;
  font-size: 1rem;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.timer-buttons-section button:active {
  transform: scale(0.98);
}

#timer-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  color: #EEEEEE;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  transform: translateY(0);
}

.timer-bar-hide {
  transform: translateY(24px);
}

.timer-not-running {
  background-color: #424242;
}

.timer-work {
  background-color: #388E3C;
}

.timer-rest {
  background-color: #E64A19;
}

/* Media queries */
@media screen and (min-width: 800px) {
  .container {
    padding: 20px 20%;
  }

  #timer-container header {
    padding: 20px 20%;
  }
}

@media screen and (min-width: 1000px) {
  .add-exam-form {
    align-items: flex-start;
    flex-direction: row;
    padding-left: 30px;
  }

  .add-exam-form * {
    width: auto;
    margin: 0 0 0 5px;
  }
}
